package views

templ Invoices() {
	@BaseLayout() {
		@Navigation("invoices", "Invoices", "All your invoices") {
			<div id="page-content" data-fragment="page-content">
				<p>Placeholder invoices content</p>
			</div>
		}
	}
}
