package views

import (
	"github.com/scottmckendry/beam/db/sqlc"
)

templ Root(isAdmin bool, customers []db.Customer, user db.User) {
	if !isAdmin {
		@NonAdmin()
	} else {
		@BaseLayout() {
			@Navigation("dashboard", "Dashboard", "Overview of your business metrics", customers, user) {
				@Dashboard()
			}
		}
	}
}
